{"token": "XXX", "token_uri": "https://oauth2.googleapis.com/token", "client_id": "XXX", "client_secret": "XXX", "scopes": ["XXX"], "universe_domain": "googleapis.com", "account": "", "expiry": "XXX"}